extends ../layout/layout

block content
  
  .jumbotron.bg-light
    h1 #{title}: #{author.name}

  p= author.lifespan
  
  if authorBooks.length > 0
  
    p #[strong Delete the following books before attempting to delete this author.]
  
    div
      h4 Books
    
    dl
      each book in authorBooks
        dt 
          a(href=book.url) #{book.title}
          dd #{book.summary}

  else
    p Do you really want to delete this Author?
    
    form(method='POST' action='')
      .form-group
        input#authorId.form-control(type='hidden',name='authorId', required='true', value=author._id)

      button.btn.btn-sm.btn-outline-danger(type='submit') Delete Author
