extends ../layout/layout

block content

  .jumbotron.bg-light
    h1 Author: #{author.name}
    p #{author.birth} - #{author.death}
  
  if authorBooks.length > 0
    div
      h4 Books
      
      dl
        each book in authorBooks
          dt 
            a(href="/book/" + book._id) #{book.title}
          dd #{book.summary}

  else
    h3 This author Has No Books.