extends ../layout

block content

  .jumbotron.bg-light
      h1 Author: #{author.name}
      p #{author.birth} - #{author.death}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
      each book in authorBooks
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p This author Has No Books.