extends layout

block content

  .jumbotron.bg-light
    h1 Welcome to #{title}

  .row
    .col-4
      .jumbotron.bg-light.text-center
          h4 Total Books
          | !{data.bookCount}
    .col-4
      .jumbotron.bg-light.text-center
          h4 Copies of Book
          | !{data.bookInstanceCount}
    .col-4
      .jumbotron.bg-light.text-center
          h4 Available Copies
          | !{data.bookInstanceAvailableCount}
  .row
    .col-6
      .jumbotron.bg-light.text-center
          h4 Total Author
          | !{data.authorCount}
    .col-6
      .jumbotron.bg-light.text-center
          h4 Total Genres
          | !{data.genreCount}
