extends ../layout/layout

block content

  .jumbotron.bg-light
    h1 Title: #{book.title}
  
  p #[strong Author:] 
    a(href="/author/" + book.author._id) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]&nbsp;
    each genre, index in book.genre
      a(href="/genre/" + genre._id) #{genre.name}
      if index < book.genre.length - 1
        |, 
  
  div
    h4 Copies
    
    each instance in bookInstance
      hr
      if instance.status=='Available'
        p.text-success #{instance.status}
      else if instance.status=='Maintenance'
        p.text-danger #{instance.status}
      else
        p.text-warning #{instance.status} 
      p #[strong Imprint:] #{instance.imprint}
      
      if instance.status!='Available'
        p #[strong Due back:] #{instance.dueBack}
      p #[strong Id:]&nbsp;
        a(href="/bookinstance/" + instance._id) #{instance._id}
  
    else
      p There Are No Copies of This Book in The Library.