extends ../layout/layout

block content

    .jumbotron.bg-light
        .row
            .col-8
                h1= title
            .col-4
                p.text-right
                    a.btn.btn-sm.btn-secondary(href="/book/create") Create Book

    if bookList.length > 0
        .row
            .col
                .book-list
                    table.table
                        thead.thead-dark
                            tr
                            th(scope='col') #
                            th(scope='col') Book Name
                            th(scope='col')
                        tbody
                            each book in bookList
                                tr
                                th 1
                                td #{book.title}
                                td.column-width
                                    a.btn.btn-sm.btn-outline-secondary(href=book.url) View
                                    a.btn.btn-sm.btn-outline-secondary(href=book.url + "/edit") Edit
                                    a.btn.btn-sm.btn-outline-secondary(href=book.url + "/delete") Delete

    else
        h3 There is No Book in The List
