extends ../layout

block content

    h3= title

    ul
        each instance in bookInstanceList
            li 
                a(href=instance.url) #{instance.book.title} : #{instance.imprint} - 
                if instance.status=='Available'
                    span.text-success #{instance.status}
                else if instance.status=='Maintenance'
                    span.text-danger #{instance.status}
                else
                    span.text-warning #{instance.status}

                if instance.status!='Available'
                    span  (Due: #{instance.dueBackFormatted} )

        else
            li There are No Book Copies in The Library.